* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  text-align: center;
  padding: 0 20px 10px 20px;
  min-height: 100vh;
  position: relative;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  padding: 10px 0 10px 10px;
  margin-bottom: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.logo {
  font-size: 16px;
  font-weight: 600;
}

.nav-item {
  padding: 5px 15px;
  border-right: 2px solid black;
  white-space: nowrap;
}

.nav-item:last-child {
  border-right: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #4e4e4e;
}

.nav-link:hover,
.nav-link:active {
  color: #000;
}

.header {
  margin-bottom: 20px;
}

.h1 {
  font-size: 40px;
}

.main {
  min-height: 330px;
}

.books {
  max-width: 700px;
  margin: 0 auto;
  border: 1px solid silver;
  margin-bottom: 20px;
  transition: transform 1s ease-out, opacity 0.2s ease-out;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 14px;
}

.remove-btn {
  margin-left: auto;
  padding: 10px;
  border: 1px solid #ececec;
  background: red;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background: #fff;
  color: red;
  border: 1px solid #807c7c;
}

.ash {
  background: silver;
}

.divider {
  width: 300px;

  /* height:  */
  border-top: 4px solid black;
  border-radius: 10px;
  margin: 30px auto 40px auto;
}

.form {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  display: none;
}

.h2 {
  margin: 0 auto 20px auto;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid black;
}

#addBtn {
  width: 25%;
  padding: 10px;
  margin-left: 74%;
  color: #fff;
  background-color: rgb(54, 138, 54);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #807c7c;
}

#addBtn:hover {
  color: rgb(54, 138, 54);
  background-color: #fff;
  border: 1px solid #807c7c;
}

.contact {
  display: none;
  flex-direction: column;
  align-items: center;
}

.contact .h1 {
  margin-bottom: 30px;
}

.contact .contact-text {
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 10px;
}

.contact .contact-item {
  margin-bottom: 4px;
}

.footer {
  margin: 160px auto 0 auto;
  border: 2px solid black;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0 15px 10px;
  /*   position: fixed; */
  width: 100%;
  bottom: 0;
}
